* {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}
body{
  height: 100%;
}
td{
  padding: 20px;
}

th{
  padding: 0;
}

a:hover {
  text-decoration: none;
}
h3{
text-align: center;
}
.logo{
  position: relative;
width:25%;
}

.navbarStyle{
  margin-bottom: 0;
  background-color: black;
}
.navbar-nav{
  width: 100%;
}
.col3{
  margin: 10% 0;
color: white;
}
.user_icon{
  color: white;
font-size: 25px;
float: right;
padding: 17%;
}

.cart_icon{
  color: white;
font-size: 25px;
float: right;
padding: 5%;
}

#logout_button{
  color: white;
  font-size: 179%;
  font-weight: 600;
  float: right;
  margin: 8%;
  text-decoration: none;
}
.container{
  width: 75%;
  padding: 0;
  margin: auto;

}
.row_container{
  margin: 0;
}
.checkout_table{
  width:100%;
}
.checkout_table tbody>tr>th{
  padding: 2% 5%;
  background-color: indianred;
  color: white;
  font-size: 130%;
  font-weight: normal;
}

.checkout_table tbody>tr>td{
  padding: 1% 5%;
}

.table-striped > tbody > tr:nth-child(2n+1) > td{
   background-color: #ffa0a047;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #fff;
}

#payment,#mainpage{
  float: right;
  padding: 1%;
  margin: 0 2%;
  background-color: indianred;
  color: white;
  font-size: 110%;
  border: none;
  font-weight: bold;
}

#payment:hover, #mainpage:hover{
border: 2px solid indianred;
}

.panel-title {display: inline;font-weight: bold;}
.checkbox.pull-right { margin: 0; }
.pl-ziro { padding-left: 0px; }

.payment{
  width:75%;
  margin: auto;
  margin-top: 7%;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
  background-color: black;
}

.btns{
  margin-top: 7%;
  margin-bottom: 3%;
}

.checkout{
      margin-top: 3%;
  display: block;
}

/*For the tinted screen to be displayed during the transaction processing*/
.processing{
  display: none;
  padding: 10%;
  height: -webkit-fill-available;
text-align: center;
background-color: rgba(8, 7, 7, 0.79);
color: white;
}

.head{
  padding: 3%;
  margin: 0;
}
.loader {
  margin:auto;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #097107;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*For the transaction success message */
.success{
  display: none;
  margin: 4%;
  text-align: center;
}
.ok{
  font-size: 86%;
width: 5%;
color: green;
}

#click_here{
  font-size: 145%;
}
