* {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

td{
  padding: 20px;
}

th{
  padding: 0;
}

a:hover {
  text-decoration: none;
}
.logo{
  position: relative;
width:10%;
}
.collage{
  background-image: url("../images/moviesCollage.png");
display:block;
height:-webkit-fill-available;
  background-size: contain;
  background-repeat: repeat-x;
  background-color: rgba(2, 2, 2, 0.82);
background-blend-mode: multiply;
}
.container{
  width: 100%;
  padding: 0;
  margin: 0;
}
.navStyle{
  margin-bottom: 0;
}
.login{

  padding: 2%;
  position: absolute;
  position: absolute;
  width: 25%;
  margin: 0% 37%;
  text-align: center;;
  height: initial;
  background-color: white;
  border-radius: 30px;
}
.login_logo{
  width: 20%;
margin-left: auto;
margin-right: auto;
position: relative;
    margin: 2% 40%;
}
.login_form{
  font-size: 15px;
}

 input{
   width: 90%;
   padding: 3% 15%;
   margin: 4% 0;
   text-align: center;
   border-radius: 15px;
}

#login{
  width: 50%;
  background-color: black;
  color: white;
  border: black;
  padding: 3% 10%;
  border-radius: 50px;
  font-size: 120%;
}

.register{
    width: 50%;
  display: none;
  padding: 2%;
  position: absolute;
  position: absolute;
  width: 25%;
    margin: -7% 37%;
    text-align: center;;
  height: initial;
  background-color: white;
  border-radius: 30px;
}
.register_logo{
  width: 28%;
margin-left: auto;
margin-right: auto;
position: relative;
margin: -5% 34%;
}
.register_form{
  font-size: 15px;

text-align: center;
}
.reg_input{
  padding: 2% 5%;
margin: 6% -15% 0% -15%;
//4, -15%
  text-align: center;
}
#register,#login_link{
  width: 44%;
background-color: black;
color: white;
border: black;
padding: 2%;
margin: 6% 0 0 1%;
border-radius: 50px;
font-size: 105%;
}
.error{
  display: none;
  float: left;
  color: red;
  margin:2px 0%;
}
table{
  width: 100%;
}
td{
  padding: 0;
}
