* {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}
body{
  height: 100%;
}
td{
  padding: 20px;
}

th{
  padding: 0;
}

a:hover {
  text-decoration: none;
}
h3{
text-align: center; 
}
.logo{
  position: relative;
width:25%;
}
.container{
  width: 100%;
  padding: 0;
  margin-left: -15px;
  margin-right: -15px;
}
.row_container{
  margin: 0;
}
.navbarStyle{
  background-color: black;
}
.navbar-nav{
  width: 100%;
}
#search{
  border-radius: 100px;
  float: none;
  margin: 11% 0;
  width: 65%;
  height: 5%;
}
.search_icon{
  border-radius: 100px;
  color: white;
  margin: 0 1%;
    padding: 1% 3%;
    top: 8px;
    font-size: 25px;
    background: indianred;
}
#search_btn{
  display: inline;
}
.col3{
  margin: 10% 0;
color: white;
}
.filter_pane{
  height: 100%;
}
.user_icon{
  color: white;
font-size: 25px;
float: right;
padding: 17%;
}

.cart_icon{
  color: white;
font-size: 25px;
float: right;
padding: 5%;
}

#logout_button{
  color: white;
  font-size: 179%;
  font-weight: 600;
  float: right;
  margin: 8%;
  text-decoration: none;
}

/* card modal*/
/*
.modal-dialog_cart{
  padding: 20px;

}
.cart-content{
  margin: auto;
  width: 50%;
background: white;
color: black;
}
*/

.no_of_items{
  color: white;
float: right;
padding-right: 15px;
position: absolute;
margin-left: 30%;
font-size: 110%;
font-weight: 600;
}
.cart{
    margin-top: 0px;
}
div.arrow{
  left:56%;
}
.popover {
  max-width: 1050px;
  left: -360px;
  width: 750px;

}

.popover-title {
  color: black;
  font-size: 20px;
}

.popover.fade.bottom.in {
  left:-375.049px
}

#cart_table{
  color: black;
}

#cart_table table th{
  color: black;
}

.btn-primary, .btn-primary:hover {
    background-color: black;
    border-color: black;
}

.btn-default, .btn-default:hover {
    background-color: indianred;
    border-color: indianred;
    color:white;
}

/*cart end*/










.card{
  text-align: center;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
      margin: 2% 4%;
}
.no-float{
  display: table-cell;
float: none;
}
.genre_filter,.lang_filter, .director_filter,.actor_filter, .sort_by, .ratings_filter, .year_filter {
  line-height: 2;
  font-size: 125%;
  margin: 10%;
}
.ratings_filter p , .year_filter p{
  margin: 7%;
  font-size: 110%;
}
.filter_icon{
  color: black;
  margin: 0 1%;
    padding: 1% 3%;
    top: 5px;
    font-size: 25px;
}
/*Slider css*/
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
/*  opacity: 0.7;*/
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: indianred;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
/*slider css ends*/
.movie_images{
  width: 100%;
  height: 50%;
}
.description{
      height: 50%;
  background: #d2d2d2;
}
.description p{
  font-size: 120%;
}
.description b{
  font-size: 95%;
}
.description p b{
  font-size: 110%;
}
.row1{
text-align: left;
}
.desc {
  width: 75%;
  font-size: 15px;
  margin: auto;
  margin: auto;
  padding: 2% 3%;
  font-size:15px;
}
#know_more, #addToCart{
  background-color: indianred;
  border: 1px solid indianred;
  border-radius: 100px;
  padding: 5% 8%;
  color: white;
  font-size: 120%;
}
.modal-header{
  background-color: indianred;
}
.modal-dialog{
  width: 75%;
}
.modal-title{
  color: white;
  text-align: center;
}
.modal-header .close {
    color: white;
    font-size: 56px;
    margin-top: -4%;
    opacity: 1;
}
.modal-body,.modal-footer{
    background-color: black;
    color: white;
    margin: 0;
}
.modal-footer{
      border-top: 1px solid indianred;
}
table{
    color: white;
}
.modal_desc th{
  font-size: 17px;
}
.modal_desc td{
  font-size: 17px;
  padding: 2% 3%;
}
.modal_desc tr td>a{
  color: white;
  font-size: 17px;
}
.left_col{
  text-align: center;
  padding: 3%;
}
.right_col{
  padding: 3%;
  border-left: 1px solid indianred;
}
.addToCart_btn{
  margin: 0% 5%;
}
.left_col p, .left_col p b{
  font-size: 20px;
  margin: 10% 5%;
}
.page{
  text-align: center;
  margin: 3% 0;
}
.filter_content{
  width: 45%;
color: black;
display: none;
position: absolute;
float: right;
text-align: left;
margin: -9% 43%;
padding: 5%;
line-height: 30px;
z-index: 100;
background: #ffffff;
font-size: 120%;
    border-radius: 20px;
-moz-box-shadow:    2px 3px 3px 3px #0000006e;
-webkit-box-shadow: 2px 3px 3px 3px #0000006e;
box-shadow:         2px 3px 3px 3px #0000006e;
}
.show{
  display: block;
}
#next{
  color: black;
  margin: 1%;
}
