* {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

td{
  padding: 20px;
}

th{
  padding: 0;
}

a:hover {
  text-decoration: none;
}

.logo{
  position: relative;
width:25%;
}
.container{
  width: 100%;
}
